<fieldset class='row'><legend><%= "Order Number: #{order.id}"%></legend>
  <p><%= order.restaurant.name %></p>
  <%= render partial: 'locations/location', object: order.restaurant.location %>
  <p><%= order.customer.full_name %></p>
  <%= render partial: 'locations/location', object: order.customer.location   %>
  <ul class='vcard large-4 columns'>
    <li class='fn'><%= order.state.capitalize %></li><hr>
    <li><%= order_options( order ) %><li>
  </ul>
</fieldset>
