<nav class='top-bar'>
  <ul class='title-area'>
    <li class='name'><h1><%= link_to "Launch 'n Dine",  root_path %></h1></li>
  </ul>
  <section class='top-bar-section'>
    <ul class='left'>
      <%= content_tag :li, link_to( 'Restaurants', restaurants_path ) %>
      <%= content_tag(:li, flash[:notice], id: 'launch_notice') if flash[:notice] %>
    </ul>
    <ul class='right'>
    <% if user_signed_in? %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %></li>
    <li><%= link_to 'My Profile', user_path( current_user ) %>
    <% else %>
      <li><%= link_to 'Sign In', new_user_session_path, class: 'button' %>
      <li class='has-dropdown'><%= link_to 'Sign Up', '#' %>
        <ul class='dropdown'>
          <li><%= link_to 'Customer', new_user_registration_path( role: 'customer' ) %></li>
          <li><%= link_to 'Driver', new_user_registration_path( role: 'driver' ) %></li>
          <li><%= link_to 'Owner', new_user_registration_path( role: 'owner' ) %></li>
        </ul>
      </li>
    <% end %>
    </ul>
  </section>
</nav>
